.grace-chat-contact {
  padding: 12px 14px;
  display: flex;
  cursor: pointer;
  &:hover {
    transition: background-color 0.2s linear;
    background-color: #fef8df;
  }
  &-avatar {
    height: 100%;
    width: 75px;
  }

  &-info {
    flex: 1;
    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nickname {
        font-weight: 700;
        font-size: 17px;
      }
      .date {
        color: #d9d6c3;
      }
    }
    &-summary {
      font-weight: 500;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
}
