.grace-chat-BaseLayout-address {
  width: 300px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f2f5f8;
  &-header {
    height: 78px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 14px;
    border-bottom: 1px solid #f2f5f8;
  }
  &-body {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
  }
}
