

/* 圆角 */
$border-radius-extra-small: 3px; //超小圆角
$border-radius-small: 5px; //小圆角
$border-radius-medium: 7px; //中圆角
$border-radius-large: 12px; //大圆角
$border-radius-circle: 50%; //全圆角
$border-radius-full: 9999px; //全尺寸圆角

/* 字重 */
$font-weight-light: 200; // 轻
$font-weight-regular: 400; //常规
$font-weight-bold: 600; // 加粗
