.grace-chat-search {
  height: 36px;
  width: 78%;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  cursor: pointer;
  &-input {
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: #000000;
    caret-color: #000000;
    font-family: inherit;
  }
}
