.edit-box {
  height: 140px;
  padding: 4px 0 0;
  #editArea {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
    border: 0;
    font-size: 16px;
    white-space: pre-wrap;
    word-break: normal;
    margin-bottom: 0;
    font-family: Consolas;
    font-weight: 600;
  }
  &-footer {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 5px;
  }
}
